<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Icarus Biking</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/complete.css"/>
</head>
<body>
  <nav>
    <a href="/">
      <img id="logo" src="/assets/img/icarusbikelogo.png" alt="logo icon"/>
    </a>
    
    <ul>
      <li><a id="homeAnchor" href="/">Home</a></li>
      <li><a id="surveyAnchor" href="/survey">Survey</a></li>
      <li><a id="contactAnchor" href="#contact">Contact Us</a></li>
    </ul>
  </nav>
  
  <div id="completeContent">
    <img src="/assets/img/check-icon.png" alt="check-icon" />
    <h1>Thank You!</h1>
    <h3>We value your time and appreciate your business! One of our support representatives will reach out to you as soon as possible.</h3>
    
    <p>*Limit to one free item per household or customer. Offer only valid with verified and full-priced orders. Proof of purchase is required to redeem reward. No additional purchases are neccesary to redeem prize. Our prizes are not dependent on the quality of feedback that is received.  Voids will be aplicable when allowed. Offers always subject to change and cancellation at any time.</p>
  </div>
</body>
</html>