<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Icarus Biking</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/survey.css"/>
</head>
<body>
  <nav>
    <a href="/">
      <img id="logo" src="/assets/img/icarusbikelogo.png" alt="logo icon"/>
    </a>
    
    <ul>
      <li><a id="homeAnchor" href="/">Home</a></li>
      <li><a id="surveyAnchor" href="/survey">Survey</a></li>
      <li><a id="contactAnchor" href="/#contact">Contact Us</a></li>
    </ul>
  </nav>
  
  <div id="surveyContent">
    <h1>Please let us know about your experience with our product and service</h1>
    <hr/>
    <div id="content"></div>
  </div>
  
  <script src="/assets/survey.js"></script>
</body>
</html>